<?xml version="1.0"?>
 <configuration>
 <appSettings>
		<add key="ConnString" value="DRIVER={MySQL ODBC 3.51 Driver};Server=127.0.0.1;Database=eenglish_whenme;uid=eengl_whenme;pwd=EEnglish49!!;option=3;max pool size=100; min pool size=20"/>
	</appSettings>


<system.web>
 <compilation debug="true"/>
 <authentication mode="Windows"/>
 <customErrors mode="Off"/>
</system.web>

  <system.webServer>
   <httpErrors errorMode="Detailed" />
       <asp scriptErrorSentToBrowser="true"/>
       
    <rewrite>
    <rules>
    <rule name="Redirect abc123 to viewPlan?ID=abc123" enabled="true" stopProcessing="true">
                <match url="^\.aspx$" />
                <conditions logicalGrouping="MatchAll" >
                    <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    <add input="{QUERY_STRING}" pattern="^ID=([a-zA-Z0-9]{6})$" />
                </conditions>
                <action type="Redirect" url="/{C:1}" appendQueryString="false" />
            </rule>
            <rule name="Rewrite - /news/a/ to page=a" enabled="true" stopProcessing="true">
                <match url="^([^/]+)/?$" />
                <conditions logicalGrouping="MatchAll" >
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="viewPlan.aspx?ID={R:1}" />
            </rule>
            </rules>
    </rewrite>

     </system.webServer>

</configuration>